.blackbox {
  padding: 1em;
  background: black;
  color: white;
  border: 5px solid red;
  border-radius: 10px;
}

.blue {
  border-radius: 10px;
  padding: 1em;
  background: #cce6ff;
}

.blue-nos {
  text-align: center;
  background: #cce6ff;
}

.green {
  padding: .7em;
  border-radius: 10px;
  background: #b3e6cc;
}

.red {
  padding: .7em;
  border-radius: 10px;
  background: #ff9999;
}

hr {
  border-top: 3px solid navy;
}