<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1: Under the Hood</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>08:30 - 09:00</td>        <!-- time    -->
        <td>Setup Assistance</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>09:00 - 09:30</td>        <!-- time    -->
        <td>Welcome and Logistics</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>09:35-11:10</td>        <!-- time    -->
        <td><a href = "http://swcarpentry.github.io/shell-novice/" target="_blank">The Unix Shell</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:10 - 11:20</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:20 - 12:50</td>        <!-- time    -->
        <td><a href = "http://swcarpentry.github.io/git-novice/" target="_blank">Version Control with Git</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2: Introduction to R</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
       <td>08:45 - 09:00</td>        <!-- time    -->
       <td>Open Assistance</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>09:00 - 9:05</td>        <!-- time    -->
        <td>Welcome & Recap</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>09:10 - 10:00</td>        <!-- time    -->
        <td><a href = "https://rstudio.csm.calpoly.edu/intro-to-rstudio/" target="_blank">Introduction to R & RStudio</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:00 - 10:30</td>        <!-- time    -->
        <td><a href = "https://rstudio.csm.calpoly.edu/intro-to-projects/" target="_blank">Project Management with RStudio</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row 2   -->
        <td>10:30 - 10:40</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 2   -->
        <td>10:40 - 12:05</td>        <!-- time    -->
        <td><a href = "https://rstudio.csm.calpoly.edu/intro-to-r/" target="_blank">Data Structures</a> and <a href = "http://swcarpentry.github.io/r-novice-gapminder/03-seeking-help/index.html" target="_blank">Seeking Help</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>12:05 - 12:15</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>12:15 - 12:45</td>        <!-- time    -->
        <td><a href = "https://rstudio.csm.calpoly.edu/working-with-data/" target="_blank">Exploring Dataframes</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3: Reproducible Research with R and Markdown</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
       <td>08:45 - 09:00</td>        <!-- time    -->
       <td>Open Assistance</td>        <!-- content -->
      </tr>
      <tr>               
       <td>09:00 - 09:10</td>        
       <td>Welcome, recap, introduction</td>       
      </tr>
      <tr>               
        <td>09:10 - 10:25</td>       
        <td>Data Visualization with ggplot2</td>   
      </tr>
      <tr>               
       <td>10:25 - 10:35</td>        
       <td>Break</td>       
      </tr>
      <tr>               
        <td>10:35 - 11:30</td>       
        <td>Data wrangling with dplyr</td>   
      </tr>
      <tr>               
       <td>11:30 - 11:40</td>        
       <td>Break</td>       
      </tr>
      <tr>             
        <td>11:40 - 12:50</td>        
        <td><a href = "http://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown/index.html" target="_blank">Producing reports with knitr</a></td>     
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4: <a href = "https://csucdsi.github.io/2021-06-14-csumath/website.html" target="_blank">Building websites</a></h3>
    <table class="table table-striped">
      <tr>               
       <td>08:45 - 09:00</td>       
       <td>Open Assistance</td>      
      </tr>
      <tr>               
        <td>09:00 - 9:15 </td>        
        <td>Welcome & Recap</td>        
      </tr>
      <tr>               
        <td>09:15 - 10:00 </td>        
        <td>Using Rmarkdown</td>        
      </tr>
      <tr>               
        <td>10:00 - 10:10 </td>        
        <td>Break</td>        
      </tr>
      <tr>               
        <td>10:10 - 11:10 </td>        
        <td>Using Distill</td>        
      </tr>
      <tr>               
        <td>11:10 - 11:20 </td>        
        <td>Break</td>        
      </tr>
      <tr>               
        <td>11:20 - 12:40 </td>        
        <td>Using Hugo</td>        
      </tr>
      <tr>               
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
